
<!-- <div class="text-center" *ngIf="showSpinner">
    <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
    </mat-progress-spinner>
    text-center
    justify-content-center

</div> -->
<div class="container pt-2 mt-4">
  <h3 class="text-center p-1 b-2 text-primary">{{ title }}</h3>
  <!-- <div class="d-flex justify-content-center"> -->
  <!-- <div class="col  justify-content-center  "> bg-dark w-50-->
  <!-- <div class="row">
    <div class="col">
      <div class="mx-auto  p-2  text-white text-center"> -->
          <div class="row justify-content-center">
              <div class="col-8">
        <mat-card class="example-card">
          <form [formGroup]="vehicleForm" >
            <mat-list role="list" style="width:100%">
              <mat-list-item role="listitem">
                <mat-form-field  style="width:100%">
                  <input matInput type="number" placeholder="enter Vehicle Id" formControlName="VehicleId">
                </mat-form-field>
              </mat-list-item>

              <mat-list-item role="listitem" >
                <mat-form-field  style="width:100%">
                  <input matInput placeholder="please enter type!" formControlName="Type">
                </mat-form-field>

              </mat-list-item>

              <mat-list-item role="listitem">
                <mat-form-field  style="width:100%">
                  <input matInput placeholder="enter Manufacturer Name" formControlName="ManufacturerNameShort">
                </mat-form-field>
              </mat-list-item>

              <mat-list-item role="listitem">
                <mat-form-field  style="width:100%">
                  <input matInput type="number" placeholder="enter Price" formControlName="Price">
                </mat-form-field>

              </mat-list-item>
            </mat-list>
          </form>
        </mat-card>
      </div>
    </div>
  <!-- </div> -->
</div>

<div class="container mt-2">
  <div class="text-center">
      <button mat-raised-button	color="primary" (click)="sendData()"
      [disabled]="vehicleForm.pristine || !vehicleForm.valid "
      class="p-2 t-2" >Submit</button>
      <span>&nbsp;&nbsp; </span>
      <button mat-raised-button	color="danger"
      (click)="cancel()"  class="p-2 b-5">Cancel</button>
    </div>
</div>


<div *ngIf="hasValue && returnValid" class="alert alert-success mt-2" role="alert" [hidden]="show">
        {{ returnMessage }} | the form validation is  {{textValid }}
</div>
<div *ngIf="hasValue && !returnValid" class="alert alert-danger mt-2" role="alert" [hidden]="show">
        {{ returnMessage }} | the form validation is {{textValid }}
</div>
