.example-card {
    max-width: 50%;
    }
.example-header-image {
    background-image: url('https://material.angular.io/assets/logo.png');
    background-size: cover;
    }

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 50%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.style-succes {

  background-color: gray;
  color: white;
}
.style-succes .mat-simple-snackbar-action  {
  color: greenyellow;
}
.style-error {
  color: white;
  background-color: rgb(236, 47, 47);
}
.style-error .mat-simple-snackbar-action {
  color: gray;
}
