
<!-- <div class="text-center" *ngIf="showSpinner">
    <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
    </mat-progress-spinner>
</div> -->
<div class="container p-5 ">
  <div class="row justify-content-center ">
      <div>
        <h3 class="text-center p-2 b-2 text-primary">Validation Form</h3>
        <mat-card style="width:500px">
          <form [formGroup]="vehicleForm" >
            <mat-list role="list" style="width:100%">
              <mat-list-item role="listitem">
                <mat-form-field  style="width:100%">
                  <input matInput type="number" placeholder="enter Vehicle Id" formControlName="VehicleId">
                </mat-form-field>
              </mat-list-item>

              <mat-list-item role="listitem" >
                <mat-form-field  style="width:100%">
                  <input matInput placeholder="please enter type!" formControlName="Type">
                </mat-form-field>

              </mat-list-item>

              <mat-list-item role="listitem">
                <mat-form-field  style="width:100%">
                  <input matInput placeholder="enter Manufacturer Name" formControlName="ManufacturerNameShort">
                </mat-form-field>
              </mat-list-item>

              <mat-list-item role="listitem">
                <mat-form-field  style="width:100%">
                  <input matInput type="number" placeholder="enter Price" formControlName="Price">
                </mat-form-field>

              </mat-list-item>
            </mat-list>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center">

      <button mat-raised-button	color="primary" (click)="sendData()"
      [disabled]="vehicleForm.pristine || !vehicleForm.valid "
      class="p-2 t-2" >Submit</button>
      <span>&nbsp;&nbsp; </span>
      <button mat-raised-button	color="danger"
      (click)="cancel()"  class="p-2 b-5">Cancel</button>
    </div>
  </div>


<div *ngIf="hasValue && returnValid" class="alert alert-success" role="alert">
        {{ returnMessage }} | {{textValid }}
</div>
<div *ngIf="hasValue && !returnValid" class="alert alert-danger" role="alert">
        {{ returnMessage }} | {{textValid }}
</div>
